# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
xcuserdata/
*.moved-aside

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Misc
.DS_Store
*.swiftpm
Package.resolved
*.xcuserdata
*_swift_files.txt
